@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #1f1f1f;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #aaaaaa;
    text-decoration: none;
    font-size: 13px;
}

a:hover {
    color: #3ea6ff;
}

ul, li {
    list-style: none;
    margin-top: 24px;
}

h3, h6 {
    line-height: 1px;
}

h6 {
    font-weight: normal;
    font-size: 12px;
}

p {
    font-size: 0.8rem;
}

.centered {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: 0.75fr 1.5fr 1.5fr 1.5fr;
    grid-template-rows: auto 1fr 1.5fr 3fr 3fr 1.5fr 1fr;
    height: 100vh;
    grid-template-areas:
        "header header header header"
        "aside section-header section-header section-header"
        "aside . . ."
        "aside . . ."
        "aside . . ."
        "aside . . ."
        "aside content7 content7 content7";
}

.wrapper {
    display: grid;
    grid-column: 2 / 5;
    grid-row: 3 / 6;
    grid-template-areas:
        "content1 content2 content3"
        "content1 content2 content4"
        ". content5 content4"
        ". content5 content6";
    justify-content: start;
    grid-gap: 25px;
    margin-left: 36px;
}

.rounded-icon {
    background-color: #282828;
    border: none;
    border-radius: 32px;
    padding: 12px 12px;
    margin-right: 12px;
}

.header-title {
    padding-left: 35px;
    font-weight: bold;
    font-size: 24px;
}

.header-logos {
    margin-right: 35px;
}

header {
    grid-area: header;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
    z-index: 50;
}

header img {
    width: 32px;
    height: auto;
    border: none;
    border-radius: 50%;
}

header .header-right {
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
}

button {
    background-color: #bbbbbb00;
    color: #ffffff;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #ffffff17;
}

header .header-left {
    font-size: 26px;
    padding: 0 25px;
    letter-spacing: -2px;
    font-weight: 500;
}

header input {
    width: 300px;
    background-color: #282828;
    font-size: 14px;
    margin: 5px;
    color: #aaaaaa;
    border: none;
}

header input::placeholder {
    color: #aaaaaa;
}

.search {
    width: 350px;
    border-radius: 5px;
    background-color: #282828;
    font-size: 14px;
    color: #aaaaaa;
    border: 1px solid #ffffff17;
    padding: 4px 23px;
}

aside {
    grid-area: aside;
    background-color: #282828;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    border-right: 1px solid rgb(96 96 96 / 53%);
    z-index: 10;
    width: 250px;
}

aside img {
    width: 125px;
    border: none;
    border-radius: 50%;
    margin-bottom: 40px;
    margin-top: 20px;
}

.profile {
    position: relative;
    justify-content: center;
    align-self: center;
    display: flex;
    margin-bottom: 50px;
}

.section-header {
    grid-area: section-header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.content-one {
    grid-area: content1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1px;
    height: 370px;
}

.content-one img {
    width: 160px;
}

.content-one button {
    margin-top: 25px;
}

.content-one p {
    color: rgb(170, 170, 170);
}

.content-two {
    grid-area: content2;
    width: 250px;
}

.content-two p a{
    color: white;
}

.content-two p a:hover{
    color: #3ea6ff;
}

.content-three {
    grid-area: content3;
    display: grid;
    align-content: space-evenly;
}

.content-four {
    grid-area: content4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content-four img {
    width: 250px;
    height: 150px;
}

.content-four p a{
    color: white;
}

.content-four p a:hover{
    color: #3ea6ff;
}

.content-five {
    grid-area: content6;
}

.content-six {
    grid-area: content5;
    height: fit-content;
}

.content-six img {
    width: 32px;
    height: auto;
    border: none;
    border-radius: 50%;
}

.content-six div {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.content-seven {
    grid-area: content7;
    position: absolute;
    bottom: 1%;
    left: 250px;
}

.content-seven a {
    padding-left: 35px;
}

.card {
    background-color: #282828;
    border: 1px solid #ffffff1a;
    border-radius: 4px;
    padding: 10px 20px;
}

.color-mute {
    color: #aaaaaa;
    font-size: 10px;
}

.card a {
    color: #3ea6ff;
}

.card button {
    background-color: #3ea6ff;
    color: black;
}

.dashboard {
    color: #ff4e45;
}